<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top">

        <ion-tab title="Camera Tab" icon="ion-ios-camera" href="#/page1/">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Form" icon="ion-edit" href="#/page1/tab1/form">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Appointment" icon="ion-clock" href="#/page1/tab3/calendar">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
